.game-true-or-false-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.game-true-or-false-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.option-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #388e3c;
}

.game-ended-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    z-index: 1000;
}

.game-ended-message {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}
