:root {
    /* Colors */
    --color-green1: #e4e6d9;
    --color-green2: #F9F9F9; /*배경색 F5F5F5*/
    --color-green3: #999999;
    --color-green4: #333333;
    --color-green5: #273526;

    --color-sidebar-bg: var(--color-green4);
    --color-sidebar-font: var(--color-green2);
    --color-hover: var(--color-green3);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --transition: all 0.2s ease;
}


body {
    overflow: scroll;
}
.content {
    display: flex;
    position: relative;
}

.main-content {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    min-height: 100vh;
    z-index: 6;
    transition: var(--transition);
}

.sidebar.expand ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--transition);
}
