.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #6c8776;
}

.login-signup-buttons button {
  margin-left: 11px;
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 250px;
  width: 250px;
  height: 100vh;
  background-color: #45624e;
  padding: 20px;
  font-weight: bold;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.sidebar h2 {
  color: gray;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: gray;
}
