:root {
  /* Colors */
  --color-green1: #e4e6d9;
  --color-green2: #c0cfb2;
  --color-green3: #6c8776;
  --color-green4: #45624e;
  --color-green5: #273526;
}

<<<<<<< HEAD
.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

body{
  background-color: var(--color-green2);
}
.card{
  background-color: var(--color-green3);
}
=======

>>>>>>> 1b74375cb25f3a52e6d4e9d92b4f6e3f6c91c8a3
.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

body{
  background-color: var(--color-green2);
}
.card{
  background-color: var(--color-green3);
}

.main-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  flex-basis: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 15px;
}

.card h4,
.card p {
  text-align: center;
}

@media (max-width: 768px) {
  .cards-list {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex-basis: 80%;
  }
}
