.learning-container {
    font-family: 'Arial', sans-serif;
    background-color: #dfe6e9;
    width: 80%;
    max-width: 900px;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 변경된 부분: 중앙 정렬 대신 상단 정렬 */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* 변경된 부분 */
    top: 50%; /* 예시로 수직 가운데 정렬 */
    left: 50%; /* 예시로 수평 가운데 정렬 */
    transform: translate(-50%, -50%); /* 화면 중앙 정렬을 위한 트랜스폼 */
    overflow: hidden; /* 추가: 전체 컨테이너의 오버플로우 숨기기 */
}

.learning-header {
    background-color: #2ecc71;
    color: white;
    padding: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* 변경된 부분: 절대 위치 설정 제거 */
}

.title-section {
    display: flex;
    align-items: center;
}

.volume-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-right: 10px;
}

.star-button {
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.word-count {
    margin-left: 10px;
    font-size: 1.4em;
}

.header-buttons button {
    margin-left: 0.5em;
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-buttons button:hover {
    background-color: #2ecc71;
}

.word-list-container {
    margin: 1em;
    flex-grow: 1; /* 추가: 컨테이너가 남은 공간을 차지하도록 설정 */
    overflow-y: scroll; /* 변경된 부분: Y축 스크롤 활성화 */
}

.word-list {
    padding-right: 1em;
    height: 100%;
}

.word-list::-webkit-scrollbar {
    display: none; /* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
}

.word-list {
    -ms-overflow-style: none; /* IE 및 Edge에서 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.word-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.word-text {
    margin-left: 1em;
    font-weight: bold;
}

.filled {
    color: #f1c40f;
}

.share-button {
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.word-item:hover {
    background-color: #ecf0f1;
}

@media (max-width: 768px) {
    .learning-container {
        width: 95%;
    }
}
