.make-component {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  width: 600px;
  margin: 200px auto;
  position: relative;
}

.make-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  color: #333333;
}

.make-header::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: -10px;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #000000 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
}

.make-header:hover::after {
  background-position: right bottom;
}

.volume-title {
  font-size: 2em;
  font-weight: bold;
  margin-right: 10px;
  color: #000000;
}

.input-group {
  margin-bottom: 20px;
}

.input-feed,
.input-description,
.input-purpose,
.entry-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  background-color: #ffffff;
  color: #333333;
  font-size: 1.1em;
}

.input-description {
  height: 100px;
  resize: none;
}

.input-purpose {
  background-color: #fafafa;
  border: 1px solid #cccccc;
  color: #333333;
  font-size: 1.1em;
}

.entry {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.entry-number {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.entry-word {
  margin-right: 10px;
  flex: 2;
}

.entry-input {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fafafa;
  border: 1px solid #cccccc;
}

.entry-meaning {
  flex: 3;
}

.delete-button {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.add-button,
.submit-button {
  background-color: #333333;
  border: none;
  padding: 12px 18px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.1em;
}

.add-button:hover,
.submit-button:hover {
  background-color: #000000;
}
