<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form action="/loginProc" method="post" name="loginForm">
    Email: <input type="text" name="email" placeholder="email" required/>
    Password: <input type="password" name="password"  placeholder="password" required/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>

